body {
    font-family: 'Euclid Circular A', sans-serif;
}

code {
    font-family: 'Source Code Pro', sans-serif;
}

td {
    white-space: normal;
    word-wrap: break-word;
}

table {
    table-layout: fixed;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.truncate:hover {
    overflow: visible;
    white-space: normal;
}

.documentIcon {
    height: 50px;
}

.card {
    border-radius: 20px;
}

.showQueryButton {
    cursor: pointer;
}