.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border: 1px solid grey
}

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.alert {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border-width: 2px;
    border-style: solid;
}

.alert-error {
    border-color: darkred;
    background-color: red;
    color: black;
}

.alert-info {
    border-color: blue;
    background-color: lightblue;
    color: black;
}

.alert-success {
    border-color: green;
    background-color: lightgreen;
    color: black;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a,
.topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    height: 25px;
    text-align: left;
}

td {
    text-align: left;
}

.deleteButton {
    width: 100px;
    text-align: center;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    display: block;
}