{% extends "base.html" %}
{% set active_page = "admin" %}

{% block content %}
<div class="row">
  {% for action in actions %}
  <div class="col-lg-3 mb-4">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title pb-2">{{action.title}}</h5>
        <div class="card-text pb-3">{{action.text|safe}}</div>
        <div class="btn-group-vertical mt-auto">
          <a class="btn btn-{{action.btnclass|default("danger", true)}} justify-content-center"
            href="{{ action.link }}">Do it!</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}