{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title pb-1">Welcome!</h5>
        <div class="card-text pb-4">This application demonstrates how you can use MongoDB's <a
            href="https://www.mongodb.com/docs/manual/core/csfle/">Client Side Field
            Level Encryption</a> to effectively "forget" customer data - even if the data gets restored by a backup
          after being deleted.
        </div>
        <div class="card-text pb-4">
          When you sign up a new user, a new data encryption key will be generated and linked to the user. When you log
          in with this user, you can start adding data into the database. We'll use the generated encryption key to
          encrypt the data you save. It will be stored in a collection called <code>data</code>, structured as such:
          <pre>
            <code>
{
  "username": &lt;your username (encrypted)&gt;
  "name": &lt;the name you enter&gt;,
  "value": &lt;the value you enter (encrypted)&gt;
}</code>
          </pre>
          Visit the admin page, where you can trigger a bunch of different actions to test - for example deleting the
          data encryption key for your user. Deleting the key means the data you added can no longer be decrypted. This
          means the data can no longer be linked to your user, nor can its value be read.
        </div>
        <div class="card-text">To get started, <a href="{{ url_for('signup') }}">sign up</a> with a user.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}