{% extends "base.html" %}
{% set active_page = "login" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <div class="card-text mb-4 text-muted">Enter your username and password.
        </div>
        <form method=post>
          {{ form.csrf_token }}
          {{ render_field(form.username) }}
          {{ render_field(form.password) }}
          {{ render_field(form.remember_me) }}
          {{ form.submit(class="btn btn-outline-dark") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}