{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% set active_page = "user_data" %}

{% block content %}
<div class="row mb-5">
  <div class="col-lg-6 mx-auto">
    {% include "includes/data_table_singleuser.html" %}
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title pb-1">Insert data</h5>
        <div class="card-text text-muted mb-3">Add some data!
        </div>
        <form method=post>
          {{ form.csrf_token }}
          {{ render_field(form.name, autofocus=True) }}
          {{ render_field(form.value) }}
          {{ form.submit(class="btn btn-outline-dark") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}